<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TestObj</title>
</head>
<body>
	<section id="testObjApp">
		<ul id="listView">
		</ul>
	</section>
	<script type="text/template" id="model-template">
		<%- id %><%- key %><%- value %>
	</script>
	<script type="text/javascript" src="../js/lib/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="../js/lib/underscore.js"></script>
	<script type="text/javascript" src="../js/lib/backbone.js"></script>
	<script type="text/javascript" src="../js/lib/backbone.localStorage.js"></script>
	<script type="text/javascript" src="../js/testObj/model.js"></script>
	<script type="text/javascript" src="../js/testObj/view.js"></script>
	<script type="text/javascript" src="../js/testObj/router.js"></script>
	<script type="text/javascript" src="../js/testObj/app.js"></script>
</body>
</html>