<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TestObj</title>
</head>
<body>
	<section class="listArea">
		<h2>List</h2>
		<div class="listView">
			<a href="#newItem">newItem</a>
			<table class="itemTable">
			</table>
		</div>
	</section>
	<section class="itemArea">
		<h2>Item</h2>
		<div class="itemView">
		</div>
	</section>
	<script type="text/template" id="item-template-tr">
		<td><a href="#detail/<%- id %>"><%- key %></a></td>
		<td><%- value %></td>
	</script>
	<script type="text/template" id="item-template-disp">
		<span class="edit">edit</span>&nbsp;
		<span class="delete">delete</span>&nbsp;
		<table>
			<tr>
				<td>ID</td>
				<td><span class='id'><%- id %></span></td>
			</tr>
			<tr>
				<td>KEY</td>
				<td><span class='key'><%- key %></span></td>
			</tr>
			<tr>
				<td>VALUE</td>
				<td><span class='value'><%- value %></span></td>
			</tr>
		</table>
	</script>
	<script type="text/template" id="item-template-edit">
		<span class="cancel">cancel</span>&nbsp;
		<span class="save">save</span>&nbsp;
		<table>
			<tr>
				<td>ID</td>
				<td><span class='id'><%- id %></span></td>
			</tr>
			<tr>
				<td>KEY</td>
				<td><input value="<%- key %>" class='key'></td>
			</tr>
			<tr>
				<td>VALUE</td>
				<td><input value="<%- value %>" class='value'></td>
			</tr>
		</table>
	</script>
	<script type="text/javascript" src="../js/lib/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="../js/lib/underscore.js"></script>
	<script type="text/javascript" src="../js/lib/backbone.js"></script>
	<script type="text/javascript" src="../js/testObj/model.js"></script>
	<script type="text/javascript" src="../js/testObj/view.js"></script>
	<script type="text/javascript" src="../js/testObj/router.js"></script>
 	<script type="text/javascript" src="../js/testObj/app.js"></script>
</body>
</html>